:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue-500: #2b417a;
  --color-blue-900: #0e1019;
}

@custom-media --extra-small-viewport-below (width < 21rem);
@custom-media --extra-small-viewport-above (width >= 21rem);
@custom-media --small-viewport-below (width < 30rem);
@custom-media --small-viewport-above (width >= 30rem);
@custom-media --medium-viewport-below (width < 50rem);
@custom-media --medium-viewport-above (width >= 50rem);
@custom-media --large-viewport-below (width < 64rem);
@custom-media --large-viewport-above (width >= 64rem);
@custom-media --extra-large-viewport-below (width < 80rem);
@custom-media --extra-large-viewport-above (width >= 80rem);
