@import './_settings.css';
@import-normalize;

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: responsive 14px 19px;
  line-height: 1.4;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p {
  margin: 0;

  @nest * + & {
    margin-top: 1em;
  }
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

@media screen {
  .u-print-only {
    display: none;
  }
}

@media print {
  body {
    font-size: 11pt;
  }

  a {
    text-decoration: none;
  }

  .u-print-hidden {
    display: none;
  }
}

@page {
  margin: 1cm;
}

.visually-hidden {
  border: none !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
