:root {
  /*color-scheme: light dark;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --popper-text-color: #333;
  --popper-bg-color: #ddde;
}

@media screen {
  .u-print-only {
    display: none !important;
  }

  a {
    text-decoration: underline;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .popper {
    box-shadow: 1px 2px 3px #0003;
    border-radius: 0.5rem;
    background-color: var(--popper-bg-color);
    color: var(--popper-text-color);
    padding: 1rem;
    font-size: 1rem;
    max-width: 25rem;
    transition: opacity 0.2s;
    backdrop-filter: blur(8px);

    & .popper__arrow {
      border-color: var(--popper-bg-color);
      border-style: solid;
      position: absolute;
      width: 0;
      height: 0;
    }

    &[x-placement^='top'] {
      margin-bottom: 5px;
    }

    &[x-placement^='top'] .popper__arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -5px;
      left: calc(50% - 5px);
    }

    &[x-placement^='bottom'] {
      margin-top: 5px;
    }
    &[x-placement^='bottom'] .popper__arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -5px;
      left: calc(50% - 5px);
    }

    &[x-placement^='right'] {
      margin-left: 5px;
    }

    &[x-placement^='right'] .popper__arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: -5px;
      top: calc(50% - 5px);
    }

    &[x-placement^='left'] {
      margin-right: 5px;
    }

    &[x-placement^='left'] .popper__arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      right: -5px;
      top: calc(50% - 5px);
    }
  }
}

@media print {
  .u-print-hidden {
    display: none !important;
  }

  .popper {
    display: none;
  }

  :root {
    font-size: 10.5pt;
  }

  a {
    text-decoration: none;
  }
}
