:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(0.98rem, 2vw, 1.5rem);
}

hr,
.divided > *::before {
  display: block;
  width: 50px;
  opacity: 0.3;
  content: '';
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: 0.25rem solid !important;
}

.divided > :first-child::before {
  content: none;
}

@media screen {
  a {
    text-decoration: underline;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

@media print {
  :root {
    font-size: 10.5pt;
  }

  .popper {
    display: none;
  }

  a {
    text-decoration: none;
  }
}

@page {
  margin: 1cm;
}
